* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    font-weight: bold;
}

header {
    /* Sets position to be top no matter what */
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer {
    /* sets position to the bottom no matter what */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

main {
    margin-top: 80px;
    position: relative;
    text-align: center;
}

#timer {
    display: inline-block;
    margin-right: 2%;
    position: fixed;
    top: 0;
    right: 0;
}

#highscores {
    display: inline-block;
}

@media screen and (max-width: 400px) {
    main {
        margin-top: 100px;
    }
    header {
        display:block;
        text-align: center;
    }

    #highscores {
        display: block;
        position: relative;
    }
    #timer {
        display: block;
        position: relative;
    }
  }